* {margin: 0; padding: 0; box-sizing:border-box!important; }

.carousel {
    padding-top: 55px;
}

.container {
  padding-top: 20px;
}

.informacion {
  background-image: url(../img/imagen.jpg);
  background-size: cover;
  color: white;
}
.nav-link:hover{
  border-color:#C900C6;
}
#registracion{
 padding-top: 100px;
}

.main-login {
  margin: 0 auto;
}

h5 {
  padding-right: 100px;
  padding-bottom: 20px;
}

.p-3 {
    padding: 0!important;
}

.mb-2 {
    margin: 0!important;
}
.my-sm-0:hover{
  border-color:#C900C6 ;
}
.btn-outline:hover {
    color: black;
}

.btn-outline {
  color: black;
}

.olvidarcontrasenia:hover {
  color: black;
  text-decoration: none;
}

.olvidarcontrasenia {
  color: #212529;
}

.btn-outline-success {
  border-color: yellow;
  background-color: yellow !important;
}

.iconmirarte {
  text-decoration: none;
  color: #fff!important
}

.iconmirarte:hover {
  text-decoration: none;
}

.preguntasfrecuentes {
  padding-top: 70px;
}

h2 {
    font-size: 32px;
    line-height: 48px;
    font-family: "Guardian-EgypTT",Georgia,serif;
    font-weight: 300;
}

.faq {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 28px;
    text-align: left;
    font-family: Arial,sans-serif;
}

.faq2 {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 28px;
  text-align: center;
  font-family: Arial,sans-serif;
}
.titulo{
  position: absolute;
	width:80px;
  top: 8px;
}
.titulo2{
	margin-top:8px;
	width:110px;
}
.navbar{
  background: #FEFF9D !important;
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
      padding-left: 0;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
      padding-left: 90px;
  }
}
#button{
  margin-top: 20px;
  margin-bottom: 142px;
}
#contrasena{
  margin-bottom: 295px;
}
article{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.card{
  background-color: #ebcffb;
}
.titulo3{
  margin: 20px;
  margin-left: 0;
}
